oral_ai_project/model/weights
__pycache__
oral_ai_project/static/Ubuntu_18.04_SimHei.ttf
oral_ai_project/static/Ubuntu_18.04_SimHei.pkl
oral_ai_project/static/Ubuntu_18.04_SimHei.cw127.pkl
oral_ai_project/uploads/